@page "/taskerdb"
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Microsoft.AspNetCore.Authorization;
@inject IJSRuntime JS;
@inject HttpClient Http;
@rendermode InteractiveWebAssembly

@attribute [Authorize]

<div class="d-flex align-items-center justify-content-center mt-5">
    <div class="task p-5">
        <div class="p-2 text-center mb-3">
            <img src="\Images\mw1920_image.png" width="300" />
        </div>
        <div>
            <EditForm Model="ti" OnValidSubmit="addTask">
                <DataAnnotationsValidator />
                <div class="d-flex flex-row gap-2">
                    <InputText @ref=textBoxTask class="form-control" placeholder="Enter a task" @bind-Value="ti.Name" />
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                <div>
                    <ValidationMessage For="() => ti.Name" />
                </div>
            </EditForm>
        </div>
        <hr/>
        <div class="vstack">
            @foreach(var lineItem in taskerItems)
            {
                <TaskerLine Item="lineItem" OnDeleteCallBack="@deleteTask" OnCompleteCallBack="@updateTask"/>
            }
        </div>
    </div>
</div>

@code {
    private TaskerItem ti = new();
    private List<TaskerItem> taskerItems = new();
    private InputText? textBoxTask { get; set; }

    #region lifecycle events
    // protected override async Task OnInitializedAsync()
    // {

    // }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await textBoxTask!.Element!.Value.FocusAsync();
            //load the items from local storage
            await LoadListAsync();
            StateHasChanged();
        }
    }
    #endregion


    private async Task addTask()
    {
        ti.Id = Guid.NewGuid();

        try
        {
            HttpResponseMessage responseMessage = await Http.PostAsJsonAsync("api/TaskerItem", ti);

            //reset the form
            ti = new();

            await LoadListAsync();
        }
        catch
        {
            await textBoxTask!.Element!.Value.FocusAsync();
        }
    }

    private async Task deleteTask(TaskerItem item)
    {
        try
        {
            string route = $"api/TaskerItem/{item.Id}";
            HttpResponseMessage response = await Http.DeleteAsync(route);
            response.EnsureSuccessStatusCode();

            await LoadListAsync();
        }
        catch
        {
            throw;
        }
    }

    private async Task LoadListAsync()
    {
        try 
        {
            HttpResponseMessage response = await Http.GetAsync("api/TaskerItem");
            response.EnsureSuccessStatusCode();

            //convert the json to a list of tasker items
            taskerItems = await response.Content.ReadFromJsonAsync<List<TaskerItem>>() ?? [];
            StateHasChanged();
        }
        catch
        {
            taskerItems = new();
        }
    }

    private async Task updateTask(TaskerItem item)
    {
        try
        {
            string route = $"api/TaskerItem/{item.Id}";

            HttpResponseMessage response = await Http.PutAsJsonAsync(route, item);
            response.EnsureSuccessStatusCode();

            await LoadListAsync();
        }
        catch
        {
            throw;
        }
    }
}
